body{
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
}

ul{
	margin:0;
	padding:0;
	width: 100%;
	box-sizing:border-box;
}

li{
	width:530px;
	height: 52px;
	font-size: 40px;
	border:1px solid black;
	list-style: none;
	text-align: center;
	margin:0 auto;
	box-sizing:border-box;
	&:first-child{
		background-color: lightgray;


	}
}

div{
	width:50px;
	height:100%;
	position: relative;
	background-color: black;
	color:white;
	top: -52px;

}
section{
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 600px){
	li{
		width: 100%;
	}
}